<section class="h-auto ">
    <div class="container py-1 h-auto">
        <div class="row d-flex justify-content-center align-items-center h-auto">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3"><a routerLink="" class="text-body"><i
                                            class="fa fa-long-arrow-left"></i>&nbsp;Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have {{cartService.getCartQuantity()}} items in your cart
                                        </p>
                                    </div>
                                </div>
                                @for(item of cartService.getItems(); track item.id){
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center mr-auto">
                                                <div>
                                                    <img src="{{item?.imageUrl}}" class="img-fluid rounded-3"
                                                        alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="mx-2">
                                                    <h5>{{item.name}}</h5>
                                                    <p class="small mb-0">{{item.brand}}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 80px;">
                                                    <h5 class="fw-normal mb-0">{{item.quantity}}</h5>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0">{{item.subtotal | currency:'R':true:'1.2-2'}}
                                                    </h5>
                                                </div>

                                                <a (click)="cartService.removeFromCart(item.id,true)" class="btn"
                                                    data-placement="top"><i style="color: tomato;"
                                                        class="fa fa-trash-o"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                            @if (cartService.getCartQuantity() > 0) {
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Card details</h5>

                                        </div>

                                        <form class="mt-4" [formGroup]="orderForm" (ngSubmit)="handleSubmit()">
                                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg"
                                                    siez="17" placeholder="10 Ave Roa, Pretoria, 0122"
                                                    formControlName="address" />
                                                <label class="form-label" for="typeName">Customer Address</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                                <input type="phone" id="typeName" class="form-control form-control-lg"
                                                    siez="17" placeholder="278123456789" formControlName="phone" />
                                                <label class="form-label" for="typeName">Customer's Phone</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                                <input type="email" id="typeName" class="form-control form-control-lg"
                                                    siez="17" placeholder="customer@email.com"
                                                    formControlName="email" />
                                                <label class="form-label" for="typeName">Customer's Email</label>
                                            </div>
                                            <hr />
                                            <p class="medium mb-2">Card type</p>
                                            <a href="#!" style="color: whitesmoke;" type="submit"
                                                class="text-white mr-2"><i class="fa fa-cc-mastercard fa-2x me-2"
                                                    style="color: whitesmoke;"></i></a>
                                            <a href="#!" style="color: whitesmoke;" type="submit"
                                                class="text-white mr-2"><i class="fa fa-cc-visa fa-2x me-2"
                                                    style="color: whitesmoke;"></i></a>
                                            <a href="#!" style="color: whitesmoke;" type="submit"
                                                class="text-white mr-2"><i class="fa fa-cc-amex fa-2x me-2"
                                                    style="color: whitesmoke;"></i></a>
                                            <a href="#!" style="color: whitesmoke;" type="submit" class="text-white"><i
                                                    class="fa fa-cc-paypal fa-2x" style="color: whitesmoke;"></i></a>

                                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg"
                                                    siez="17" placeholder="Joe Zulu" formControlName="fullName" />
                                                <label class="form-label" for="typeName">Cardholder's Name</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                                <input type="text" id="typeText" class="form-control form-control-lg"
                                                    siez="17" placeholder="1234 5678 9012 3457" minlength="19"
                                                    maxlength="19" formControlName="cardNumber" />
                                                <label class="form-label" for="typeText">Card Number</label>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div data-mdb-input-init class="form-outline form-white">
                                                        <input type="text" id="typeExp"
                                                            class="form-control form-control-lg" placeholder="MM/YYYY"
                                                            size="7" id="exp" minlength="7" maxlength="7"
                                                            formControlName="expiration" />
                                                        <label class="form-label" for="typeExp">Expiration</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div data-mdb-input-init class="form-outline form-white">
                                                        <input type="password" id="typeText"
                                                            class="form-control form-control-lg"
                                                            placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3"
                                                            maxlength="3" formControlName="cvv" />
                                                        <label class="form-label" for="typeText">Cvv</label>
                                                    </div>
                                                </div>
                                            </div>



                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Subtotal</p>
                                                <p class="mb-2">{{cartService.getTotal() | currency:'R':true:'1.2-2'}}
                                                </p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Delivery</p>
                                                <p class="mb-2">R20.00</p>
                                            </div>

                                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-info btn-block btn-lg">
                                                <div class="d-flex justify-content-between">
                                                    <span>{{cartService.getTotal() + 20.00 |
                                                        currency:'R':true:'1.2-2'}}</span>
                                                    <div>
                                                        <span *ngIf="!loading">Pay</span>
                                                        <span *ngIf="loading" class="spinner-border spinner-border-sm"
                                                            role="status" aria-hidden="true"></span>

                                                    </div>

                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>